@import '../../vars.css';

.header__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
    
}

a{
    color: var(--color-primary);
}

a:hover {
    color: var(--color-white);
}